@model Packing.Models.FlowLineViewModel
@{
    ViewBag.Title = "添加单子";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $('#submit').click(function() {
                $.ajax({
                    url: '@Url.Action("Add")',
                    type: "Post",
                    data: $('#form').serialize(),
                    success: function(data) {
                        if (data.success === 'success') {
                            window.location.href = '@Url.Action("Index","FlowLine",new{flowId = Model.FlowId})';
                            alert(data.message);
                        }
                        if (data.success === 'fail') {
                            alert(data.message);
                        }
                    },
                    error: function(data) {
                        alert(data);
                    }
                });
            });

        });
    </script>
}

<h2>@ViewBag.Title</h2>

<form id="form" class="form-horizontal" method="post">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(a => a.FlowId)
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.PreFlowNodeName, htmlAttributes: new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PreNodeId, (IEnumerable<SelectListItem>)ViewBag.PreFlowNodeName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FlowNodeName, htmlAttributes: new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CurrentNodeId, (IEnumerable<SelectListItem>)ViewBag.CurrentFlowNodeName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NextFlowNodeName, htmlAttributes: new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.NextNodeId, (IEnumerable<SelectListItem>)ViewBag.NextFlowNodeName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="添加" class="btn btn-default" id="submit" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("返回", "Index")
</div>

