@model Packing.Models.CargoInfoViewModel
@{
    ViewBag.Title = "修改产品信息";
}


<script type="text/javascript">
    $(function () {
        $('#submit').click(function () {
            $.ajax({
                url: '@Url.Action("Edit")',
                type: "Post",
                data: $('#form').serialize(),
                success: function (data) {
                    if (data.success === 'success') {
                        window.location.href = '@Url.Action("Index")';
                        alert(data.message);
                    }
                    if (data.success === 'fail') {
                        alert(data.message);
                    }
                },
                error: function (data) {
                    alert(data);
                }
            });
        });
    });
</script>


<h2>@ViewBag.Title</h2>

<form id="form" class="form-horizontal" method="post">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.LastCargoName)
    <input type="hidden" name="id" value="">
    <div class="form-horizontal">
        <h4>产品信息</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CargoName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CargoName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CargoName, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (@Model.Unit != null)
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Unit, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">

                    @Html.EditorFor(m => m.Unit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        @if (@Model.Amount != null)
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Amount, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        @if (@Model.Specifications != null)
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Specifications, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Specifications, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Specifications, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        @if (@Model.Type != null)
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Type, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Type, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        @if (@Model.Area != null)
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Area, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.Area, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="修改" class="btn btn-default" id="submit" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("返回", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
